/.devcontainer/.wandb_api_key
/.devcontainer/.gpu_uuid
/.venv
/data/*/raw
/data/usbcam
/simulation
/exp
/shell/liver.sh
/shell/rump.sh
Pipfile.lock
setup_pi.sh
*.tar
*.tgz
*.jpg
*.png
*__pycache__*
*DS_Store*